    /* /////////////////////////         Custom          \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      User Settings      ///////////////////////// */
    /* /////////////////////////       Begin Edit        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\                         ///////////////////////// */
        :root {
        /* This block is for the Homepage */
            --color-layerOne: #272b30;
            --color-layerTwo: #3d3d3d;
            --color-layerThree: #1f2125;
            --color-layerFour: #333333;
            --color-layerFive: #63a8eb;
            --color-layerSix: #40aec3;
            --color-tLayerOne: #63a8eb;
            --color-tLayerTwo: #ffffff;
    /* This block is for the Login Page */
            --color-loginLayerOne: #272b30;
            --color-loginLayerTwo: #63a8eb;
            --color-loginLayerThree: #3d3d3d;
            --color-loginLayerFour: #000;
            --color-loginLayerFive: #46bc99;
            --color-chatTLayerOne: #71cde5;
            --color-chatTLayerTwo: #ffffff;
    /* This block is for the Chat Page */
            --color-chatLayerOne: #3d3d3d;
            --color-chatLayerTwo: #272b30;
            --color-chatLayerThree: purple;
            --color-chatLayerFour: #337ab7;
            --color-chatLayerFive: #63a8eb;
            --color-chatTLayerOne: #63a8eb;
            --color-chatTLayerTwo: #ffffff;
    /* This block is for all the Settings and popup windows */
            --color-extraLayerOne: #272b30;
            --color-extraLayerTwo: #662f8f;
            --color-extraLayerThree: #ed2e72;
            --color-extraLayerFour: #9680bb;
            --color-extraLayerFive: #46bc99;
            --color-extraTLayerOne: #71cde5;
            --color-extraTLayerTwo: #ffffff;
    /* This block is for the Calendar Color Codes */
            --color-calAvailable: #42b382;
            --color-calUnavailable: purple;
            --color-calUnreleased: #3f51b5;
            --color-calPremier: #40aec3;
        }
    /* /////////////////////////         Custom          \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\      User Settings      ///////////////////////// */
    /* /////////////////////////         End Edit        \\\\\\\\\\\\\\\\\\\\\\\\\ */
    /* \\\\\\\\\\\\\\\\\\\\\\\\\                         ///////////////////////// */
    <style>
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/leram84/layer.Cake/2949e3da/CSS/Custom/Global.css">
    <link rel="stylesheet" type="text/css" href="//cdn.rawgit.com/leram84/layer.Cake/2949e3da/CSS/Custom/Calendar-Codes.css">
    <!-- /////////////////////////    CSS Add-On Links     \\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\     Section Below       ///////////////////////// -->



    <!-- /////////////////////////    CSS Add-On Links     \\\\\\\\\\\\\\\\\\\\\\\\\ -->
    <!-- \\\\\\\\\\\\\\\\\\\\\\\\\     Section Above       ///////////////////////// -->
    </style>
